.upper-form{
    -fx-background-color:linear-gradient(to bottom right, #2ca772, #155b29);
    -fx-border-color:#000;
    -fx-border-width:.4px 0px .4px .4px;
}

.tbView-form{
    -fx-background-radius:5px;
    -fx-border-color: linear-gradient(to bottom right, #155b29, #2ca772);
    -fx-border-radius : 5px;
}

.down-form{
    -fx-background-color:linear-gradient(to bottom right, #2ca772, #155b29);
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .4px 0px;
}

.btn{
    -fx-background-color:transparent;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-background-radius:4px;
    -fx-cursor:hand;
}

.btn-effect:hover{
    -fx-border-color: WHITE;
    -fx-border-width:0px 0px 3px 0px;
    -fx-background-color: #2ca772;
}

.dp-box:hover{
    -fx-border-color: WHITE;
    -fx-border-width:0px 0px 3px 0px;
    -fx-background-color: #2ca772;
}
